.nav{
    display: flex;
    align-items: center;
}
body{
    background-color: black;
}
.active{
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.link{
   margin: 20px;
}
.allImages{
    display: flex;
    overflow-x: scroll;
}
.allImages::-webkit-scrollbar{
    display: none;
}
img{
    margin-left: 10px;
}