body
{
    background-color: black;
}

form
{
    width: 600px;
    height: 400px;
    background-color: goldenrod;
    margin: auto;
    margin-top: 200px;
    text-align: center;
    padding-top: 100px;
}