*{
    margin:0;
    padding:0;
}
.container{
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgb(172, 182, 182);
}
.brand-logo{
    float: left;
}
.web-nav{
    float: right;
}
ul{
    list-style-type: none;
}
li{
    float: left;
    padding: 8px 10px;
}
.clear{
    clear:both;
}
.clearflix::after{
    content:'';
    clear: both;
    display: block;
}
.section1{
    width: 50%;
    float: left;
}

    